
@mixin gradient-menu ($color-menu-bg) {
background: -moz-linear-gradient(left,  rgba($color-menu-bg,$opacity3) 0%, rgba($color-menu-bg,$opacity2) 1%, rgba($color-menu-bg,$opacity1) 51%, rgba($color-menu-bg,$opacity-menu) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba($color-menu-bg,$opacity3) 0%,rgba($color-menu-bg,$opacity2) 1%,rgba($color-menu-bg,$opacity1) 51%,rgba($color-menu-bg,$opacity-menu) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba($color-menu-bg,$opacity3) 0%,rgba($color-menu-bg,$opacity2) 1%,rgba($color-menu-bg,$opacity1) 51%,rgba($color-menu-bg,$opacity-menu) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


